TemporaryGeneratedFile_*.cs
*.exe.config
*.pdb
*/bin/*
*/*/bin/*
*/*/*/bin/*
/*/*/*/*/*/bin/*
/*/*/*/*/*/bin/
*.suo
*/obj/*
*/*/obj/*
*/*/*/obj/*
/*/*/*/*/*/obj/*
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/App.g.cs
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/App.g.i.cs
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/GuiClient.Properties.Resources.resources
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/GuiClient.csproj.FileListAbsolute.txt
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/GuiClient.exe
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/GuiClient.g.resources
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/GuiClient.pdb
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/MainWindow.baml
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/MainWindow.g.cs
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/obj/Debug/MainWindow.g.i.cs
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/obj/Debug/ConsoleClient.csproj.FileListAbsolute.txt
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/obj/Debug/ConsoleClient.exe
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/obj/Debug/ConsoleClient.pdb
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/ConsoleClient.exe
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/ConsoleClient.exe.config
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/ConsoleClient.pdb
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/ConsoleClient.vshost.exe
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/ConsoleClient.vshost.exe.config
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/ConsoleClient.vshost.exe.manifest
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/Library.dll
/HomeAutomation/06/DotnetConsoleClient/GuiClient/ConsoleClient/bin/Debug/Library.pdb
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/GuiClient.exe
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/GuiClient.exe.config
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/GuiClient.pdb
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/GuiClient.vshost.exe
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/GuiClient.vshost.exe.config
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/GuiClient.vshost.exe.manifest
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/Library.dll
/HomeAutomation/06/DotnetConsoleClient/GuiClient/GuiClient/bin/Debug/Library.pdb
